In [2]:
pip install pandas

Collecting pandas
  Downloading pandas-2.0.3-cp310-cp310-macosx_11_0_arm64.whl (10.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.8/10.8 MB 24.3 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/cjs/Library/CloudStorage/OneDrive-UniversityofEssex/DISSERTATION/.conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2023.3-py2.py3-none-any.whl (502 kB)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 33.0 MB/s eta 0:00:00
Collecting numpy>=1.21.0 (from pandas)
  Downloading numpy-1.25.1-cp310-cp310-macosx_11_0_arm64.whl (14.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.0/14.0 MB 59.8 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: six>=1.5 in /Users/cjs/Library/CloudStorage/OneDrive-UniversityofEssex/DISSERTATION/.conda/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.25.1 pandas-2.0.3 pytz-2023.3 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd

In [9]:
#read nasdaq csv file in the same directory
nasdaq = pd.read_csv('nasdaq_screener.csv')
#print first 2 columns and 10 rows
nasdaq.iloc[:10, :2]

   Symbol                                               Name
0       A             Agilent Technologies Inc. Common Stock
1      AA                    Alcoa Corporation Common Stock
2     AAC  Ares Acquisition Corporation Class A Ordinary ...
3    AACG   ATA Creativity Global American Depositary Shares
4    AACI            Armada Acquisition Corp. I Common Stock
5   AACIW                 Armada Acquisition Corp. I Warrant
6    AADI                  Aadi Bioscience Inc. Common Stock
7    AAIC      Arlington Asset Investment Corp Class A (new)
8  AAIC^B             Arlington Asset Investment Corp 7.00%
9  AAIC^C  Arlington Asset Investment Corp 8.250% Seies C...

In [5]:
#write only the first 2 columns to a new csv file named symbols.csv
nasdaq.iloc[:, :2].to_csv('symbols.csv')

In [10]:
#read the new csv file
symbols = pd.read_csv('symbols.csv')
symbols.head()

  Symbol                                               Name
0      A             Agilent Technologies Inc. Common Stock
1     AA                    Alcoa Corporation Common Stock
2    AAC  Ares Acquisition Corporation Class A Ordinary ...
3   AACG   ATA Creativity Global American Depositary Shares
4   AACI            Armada Acquisition Corp. I Common Stock

## Find the number of instances of the tickers in the data collected

import the updated CSV file for further research.

In [13]:
#import symbols from the csv file
symbols = pd.read_csv('symbols.csv')  
symbols.head()

  Symbol                                               Name
0      A             Agilent Technologies Inc. Common Stock
1     AA                    Alcoa Corporation Common Stock
2    AAC  Ares Acquisition Corporation Class A Ordinary ...
3   AACG   ATA Creativity Global American Depositary Shares
4   AACI            Armada Acquisition Corp. I Common Stock

In [15]:
#import the hot text file to a list
hot = open('hot.txt').read().split('\n')
#count the number of items in the list
len(hot)

2137

In [ ]:
#write the list to a new file names test_hot.txt
with open('test_hot.txt', 'w') as f:
    for item in hot:
        f.write("%s\n" % item)

# Stocks

In [4]:
pip install yfinance

Collecting yfinance
  Obtaining dependency information for yfinance from https://files.pythonhosted.org/packages/c8/97/20c8095d492859010867bdad1c92637e62e5b9308c5e45f0caac56e12e42/yfinance-0.2.24-py2.py3-none-any.whl.metadata
  Downloading yfinance-0.2.24-py2.py3-none-any.whl.metadata (11 kB)
Collecting pandas>=1.3.0 (from yfinance)
  Obtaining dependency information for pandas>=1.3.0 from https://files.pythonhosted.org/packages/8f/bb/aea1fbeed5b474cb8634364718abe9030d7cc7a30bf51f40bd494bbc89a2/pandas-2.0.3-cp311-cp311-macosx_11_0_arm64.whl.metadata
  Downloading pandas-2.0.3-cp311-cp311-macosx_11_0_arm64.whl.metadata (18 kB)
Collecting numpy>=1.16.5 (from yfinance)
  Obtaining dependency information for numpy>=1.16.5 from https://files.pythonhosted.org/packages/48/73/df07644e8fa1127a7985db70cf1d07123004e2dd7a3cf33e8b83297a775b/numpy-1.25.1-cp311-cp311-macosx_11_0_arm64.whl.metadata
  Downloading numpy-1.25.1-cp311-cp311-macosx_11_0_arm64.whl.metadata (5.6 kB)
Collecting requests>=2.26 (from yfinance)
  Obtaining dependency information for requests>=2.26 from https://files.pythonhosted.org/packages/70/8e/0e2d847013cb52cd35b38c009bb167a1a26b2ce6cd6965bf26b47bc0bf44/requests-2.31.0-py3-none-any.whl.metadata
  Downloading requests-2.31.0-py3-none-any.whl.metadata (4.6 kB)
Collecting multitasking>=0.0.7 (from yfinance)
  Using cached multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Collecting lxml>=4.9.1 (from yfinance)
  Obtaining dependency information for lxml>=4.9.1 from https://files.pythonhosted.org/packages/d6/56/9d5cb3438143a5aebad59088ca392950d74a531e1b96d0959144370b3b59/lxml-4.9.3-cp311-cp311-macosx_11_0_universal2.whl.metadata
  Downloading lxml-4.9.3-cp311-cp311-macosx_11_0_universal2.whl.metadata (3.8 kB)
Collecting appdirs>=1.4.4 (from yfinance)
  Using cached appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Collecting pytz>=2022.5 (from yfinance)
  Using cached pytz-2023.3-py2.py3-none-any.whl (502 kB)
Collecting frozendict>=2.3.4 (from yfinance)
  Downloading frozendict-2.3.8-py311-none-any.whl (14 kB)
Collecting beautifulsoup4>=4.11.1 (from yfinance)
  Using cached beautifulsoup4-4.12.2-py3-none-any.whl (142 kB)
Collecting html5lib>=1.1 (from yfinance)
  Using cached html5lib-1.1-py2.py3-none-any.whl (112 kB)
Collecting soupsieve>1.2 (from beautifulsoup4>=4.11.1->yfinance)
  Using cached soupsieve-2.4.1-py3-none-any.whl (36 kB)
Requirement already satisfied: six>=1.9 in /opt/homebrew/anaconda3/envs/stocks/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Collecting webencodings (from html5lib>=1.1->yfinance)
  Using cached webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/homebrew/anaconda3/envs/stocks/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Collecting tzdata>=2022.1 (from pandas>=1.3.0->yfinance)
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Collecting charset-normalizer<4,>=2 (from requests>=2.26->yfinance)
  Obtaining dependency information for charset-normalizer<4,>=2 from https://files.pythonhosted.org/packages/91/e6/8fa919fc84a106e9b04109de62bdf8526899e2754a64da66e1cd50ac1faa/charset_normalizer-3.2.0-cp311-cp311-macosx_11_0_arm64.whl.metadata
  Downloading charset_normalizer-3.2.0-cp311-cp311-macosx_11_0_arm64.whl.metadata (31 kB)
Collecting idna<4,>=2.5 (from requests>=2.26->yfinance)
  Using cached idna-3.4-py3-none-any.whl (61 kB)
Collecting urllib3<3,>=1.21.1 (from requests>=2.26->yfinance)
  Obtaining dependency information for urllib3<3,>=1.21.1 from https://files.pythonhosted.org/packages/8a/03/ad9306a50d05c166e3456fe810f33cee2b8b2a7a6818ec5d4908c4ec6b36/urllib3-2.0.3-py3-none-any.whl.metadata
  Downloading urllib3-2.0.3-py3-none-any.whl.metadata (6.6 kB)
Collecting certifi>=2017.4.17 (from requests>=2.26->yfinance)
  Using cached certifi-2023.5.7-py3-none-any.whl (156 kB)
Using cached yfinance-0.2.24-py2.py3-none-any.whl (63 kB)
Downloading lxml-4.9.3-cp311-cp311-macosx_11_0_universal2.whl (8.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.6/8.6 MB 2.3 MB/s eta 0:00:0000:0100:01
Downloading numpy-1.25.1-cp311-cp311-macosx_11_0_arm64.whl (14.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.0/14.0 MB 2.4 MB/s eta 0:00:0000:0100:01
Downloading pandas-2.0.3-cp311-cp311-macosx_11_0_arm64.whl (10.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.7/10.7 MB 2.8 MB/s eta 0:00:0000:0100:01
Using cached requests-2.31.0-py3-none-any.whl (62 kB)
Downloading charset_normalizer-3.2.0-cp311-cp311-macosx_11_0_arm64.whl (122 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 122.8/122.8 kB 3.5 MB/s eta 0:00:00
Using cached urllib3-2.0.3-py3-none-any.whl (123 kB)
Installing collected packages: webencodings, pytz, multitasking, appdirs, urllib3, tzdata, soupsieve, numpy, lxml, idna, html5lib, frozendict, charset-normalizer, certifi, requests, pandas, beautifulsoup4, yfinance
Successfully installed appdirs-1.4.4 beautifulsoup4-4.12.2 certifi-2023.5.7 charset-normalizer-3.2.0 frozendict-2.3.8 html5lib-1.1 idna-3.4 lxml-4.9.3 multitasking-0.0.11 numpy-1.25.1 pandas-2.0.3 pytz-2023.3 requests-2.31.0 soupsieve-2.4.1 tzdata-2023.3 urllib3-2.0.3 webencodings-0.5.1 yfinance-0.2.24
Note: you may need to restart the kernel to use updated packages.

In [1]:
import yfinance as yf

In [6]:
#get stock data on NVDA for the day of june 6th 2023
nvda = yf.download('NVDA', start='2023-06-06', end='2023-06-07')
nvda.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-06-06,388.299988,391.600006,381.480011,386.540009,386.5,38872900